root = true

# All files
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Max line length
max_line_length = 120

# JavaScript/TypeScript files
[*.{js,mjs,ts,tsx,json}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
max_line_length = 2048
trim_trailing_whitespace = false
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2