root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# Max line length
max_line_length = 120

# JavaScript/TypeScript files
[*.{js,mjs,ts,tsx,json}]
indent_style = space

# Markdown files
[*.md]
max_line_length = off
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2
